[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:toepump/toepump.nvim
[submodule "tmux/.config/tmux/plugins/catppuccin/tmux"]
	path = tmux/.config/tmux/plugins/catppuccin/tmux
	url = git@github.com:catppuccin/tmux.git
